{% for interface in interfaces %}
interface {{ interface.name }}
 description {{ interface.description }}
 ip address {{ interface.ip }} {{ interface.netmask }}
 negotiation auto
 cdp enable
 shut
{% endfor %}
